{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} Route Optimization {% else %}{{ _('Route Optimization') }}{% endif %}
{% endblock %}

{% block styles %}
    {{super()}}
{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    {{ super() }}

{% endblock %}

{% block navbar %}
<div id="loading"></div>
<div id="content-body">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">
                    <b>HelloWorld</b>
                </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                  <li><a href="#"></a></li>
                  <li><a href="#"></a></li>
              </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div style="margin-top:30px"></div>

        {% block app_content %}{% endblock %}

</div>
{% endblock %}



